@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Festive&family=Inter:wght@700&family=Libre+Franklin:wght@400;600&family=Montserrat:wght@200;400;700&family=MuseoModerno:wght@100;200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@500&family=Secular+One&family=Space+Mono:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "DM Sans";
	line-height: 2rem;
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
}
button {
	cursor: pointer;
}
#copyright-big{
	display: none;
}
#big-logo{
	display: none;
}
#wrapper {
	padding-left: 25px;
	padding-right: 25px;
}
#black-bg {
	background-color: black;
	height: 1300px;
	width: 100%;
	position: absolute;
	z-index: -1;
}
#mobile-nav {
	background-color: white;
	color: black;
	height: 46px;
	display: flex;
	border-radius: 99px;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
}
#desktop-nav {
	display: none;
}
#new-section {
	background-color: #ff385c;
	color: white;
	height: 460px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 35px;
}
#new-section h1 {
	width: 40%;
	text-align: center;
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 20px;
}
#learn-more {
	background-color: transparent;
	border: white 1px solid;
	border-radius: 10px;
	color: white;
	font-size: 0.9rem;
	height: 40px;
	width: 110px;
	cursor: pointer;
}
#section-1 {
	background-image: url("https://a0.muscache.com/im/pictures/4ba122c7-7328-4e1f-b4c5-23fa4f89a57d.jpg?im_w=1440");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 750px;
	border-radius: 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	
}
#content {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 65px 15%;
	font-size: 1.2rem;
	text-align: center;
}
#flexible {
	font-family: 'DM sans';
	font-size: 15px;
	border: none;
	padding: 14px 24px;
	border-radius: 99px;
	background-color: white;
	margin-top: 16px;
}
#flexible p {
	font-weight: 700px;
	background-image: linear-gradient(
		90deg,
		#6f019c 0%,
		#c6017e 135.12%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#section-2 h1{
	font-weight: 500;
	padding-top: 50px;
	padding-bottom: 25px;
	width: 250px;
}
.card img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.card h3 {
	margin: 15px 15px;
}
.card p {
	margin: 0px 15px;
}
.cards {
	color: white;
	display: flex;
	gap: 15px;
	overflow: hidden;
	width: 100%;
	padding-top: 4px ;
    padding-bottom: 4px;
	margin-top: -4px;
    margin-bottom: -4px;
    overflow-x: auto;
	
}
.card {
	flex-shrink: 0;
	border-radius: 10px;
	width: 250px;
	height: 345px;
	background-color: #cc2d4a;
	text-align: start;
}
#section-3 h1{
	font-weight: 500;
	padding-top: 50px;
	padding-bottom: 25px;
	width: 250px;
}
#left-card {
	background-image: url("https://a0.muscache.com/im/pictures/8f0847aa-9c7e-4371-990c-84987b61f7f7.jpg?im_w=720");
	background-size: cover;
	background-position: center;
	height: 900px;
	border-radius: 10px;
	margin-bottom: 15px;
}
#right-card {
	background-image: url("https://a0.muscache.com/im/pictures/aec597d9-9c5c-4746-965c-d3e1643299f7.jpg?im_w=720");
	background-size: cover;
	background-position: center;
	height: 900px;
	border-radius: 10px;
	margin-top: 15px;
}
.section3-content {
	color: white;
	padding: 25px;
}
.section3-content h2 {
	max-width: 190px;
	font-size: 2rem;
	line-height: 2rem;
	margin-bottom: 25px;
}
.card-btn {
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	font-weight: 600;
	padding: 15px 25px;
	background: white;
}
#section-4-cards{
	padding-bottom: 50px;
}
#section-4-right{
	width: 100%;
	overflow: hidden;
}
#cards-img img{
	height: 300px;
	width: 550px;
	margin-top: 50px;
	object-fit: cover;
    object-position: center center;
    vertical-align: bottom;
}
.destionations {
	color: black;
}
a {
	text-decoration: none;
}
span {
	color: gray;
}
#section-4 h1{
	font-weight: 600;
	padding-top: 50px;
	padding-bottom: 25px;
	width: 250px;
	font-size: 2rem;
}
#learn-more-btn{
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	font-weight: 600;
	padding: 15px 25px;
	background: #222222;
	color: white;
}
#learn-more-btn:hover{
	background: black;
}
#section-4 h3{
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 25px;
}
.destination-select{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
	overflow: scroll;
}
.destination-select button{
	border-radius: 8px;
	white-space: nowrap;
	border: none;
	padding: 10px;
	background: transparent;
}
.destination-select button:hover{
	background-color: rgb(239, 239, 239);
}

.destination-select p{
	font-size: 0.9rem;
	font-weight: 400;
	color: black;
}
.destinations a{
	width: 33.33%;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex: 1 1 auto;
	text-align: left;
	color: black;
	font-size: 0.9rem;
}
.destinations{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 15px;
	padding-top: 30px;
	padding-bottom: 95px;
}
footer{
	background-color: #F7F7F7;
	border-top: 1px solid #DDDDDD;
}
footer a{
	color: #222222 ;
	text-decoration: none;
}
footer a:hover{
	text-decoration: underline;
	color: #717171;
}
.footer-section{
	padding: 10px 25px;
}
.footer-section h5{
	font-size: 0.925rem;
}
.footer-section p{
	margin-top: 12px;
	color: #222222;
	font-size: 1rem;
}
.footer-wrapper{
	border-bottom: #DDDDDD solid 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 20px;
}
.footer-section-text{
		display: flex;
		flex-direction: column;
	}
.legal{
	padding-left: 25px;
	padding-right: 25px;
}
.footer-links{
	margin-bottom: -10px;
	font-size: 0.9rem;
}
.legal{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0;
	margin-top: -15px;
}
#copyright-small{
	justify-content: flex-start;
}
#globe-logo{
	width: 15px;
}
#fb-logo{
	display: none;
}
#twitter-logo{
	display: none;
}
#insta-logo{
	display: none;
}
@media (min-width: 741px) {
	#mobile-nav{
		display: none;
	}
	#desktop-nav{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: white;
		position: fixed;
		z-index: 3;
		height: 75px;
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
		box-shadow: rgb(0 0 0 / 8%) 0px 1px 2px, rgb(0 0 0 / 5%) 0px 4px 12px;
	}
	.search-bar{
		border: 1px solid #dddddd;
		width: 300px;
		height: 48px;
		padding-left: 24px;
		padding-right: 5px;
		background: white;
		border-radius: 99px;
		text-align: left;
		box-shadow: rgb(0 0 0 / 8%) 0px 1px 2px, rgb(0 0 0 / 5%) 0px 4px 12px;
		font-size: 0.9rem;
		color: black;
		display: flex;
		justify-content: space-between;
	}
	.search-bar::placeholder{
		color: black;
	}
	.search-bar input{
		border: none;
	}
	.search-bar img{
		width: 32px;
	}
	#language{
		border: none;
		background: transparent;
	}
	#globe-logo{
		width: 15px;
	}
	#left-nav{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 25px;
	}
	#logo{
		margin-bottom: -10px;
	}
	#logo img{
		width: 35px;
	}
	#right-nav{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
	}
	#become-host{
		background: transparent;
		border: none;
		font-size: 0.95rem;
		font-weight: 500;
		padding: 12px;
		border-radius: 99px;
	}
	#become-host:hover{
		background-color: rgb(239, 239, 239);
	}
	.menu{
		border: 1px solid #dddddd;
		height: 42px;
		width: 75px;
		border-radius: 99px;
		padding: 5px 5px 5px 12px;
		transition: 0.15s ease-in;
		cursor: pointer;
	}
	.menu:hover{
		box-shadow: rgb(0 0 0 / 8%) 0px 1px 2px, rgb(0 0 0 / 5%) 0px 4px 12px;
	}
	#user-icon{
		width: 30px;
		float: right;
	}
	#hamburger{
		width: 15px;
		margin-top: 7px;
		float: left
	}
	#wrapper{
		padding-left: 40px;
	padding-right: 40px;
	}
	#new-section{
		height: 250px;
	}
	#section-1{
		height: 550px;
	}
	#black-bg{
		height: 870px;
	}
	#section-2 h1{
		width: 100%;
	}
	#section-3 h1{
		width: 100%;
	}
	#section-3-cards{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 15px;
		flex-shrink: 1;
	}
	#left-card{
		margin: 0;
		height: 40vh;
		width: 46vw;
	}
	#right-card{
		margin: 0;
		height: 40vh;
		width: 46vw;
	}
	#section-4-cards{
		display: flex;
	}
	#cards-img{
		height: 300px;
	}
	footer{
		border-top: none;
	}
	.footer-section{
		padding: 10px 40px
	}
	
	.footer-wrapper{
		display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;

	}
	.footer-wrapper a{
		display: flex;
	}
	.footer-section-text{
		display: flex;
		flex-direction: column;
	}
	.footer-section-text{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.footer-section-text a{
		margin-top: 12px;

		padding-right: 12px;
		flex-basis: 33.333333333333336%
	}
	.footer-links{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}
	#left-footer-links{
		color: black;
	}
	.legal{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		padding-left: 40px;
	padding-right: 40px;	
	}
	.social-media{
		display: flex;
		gap: 20px;
	}
	#copyright-small{
	justify-content: center;
}
#globe-logo{
	width: 15px;
}
#fb-logo{
	display: block;
}
#twitter-logo{
	display: block;
}
#insta-logo{
	display: block;
}
}

@media (min-width: 941px) {
	#desktop-nav{

	}
	.search-bar{
		margin-left: 220px;
	}
	#left-card{
		height: 70vh;
	}
	#right-card{
		height: 70vh;
	}
}

@media (min-width: 1121px) {
	#wrapper{
		padding-left: 80px;
		padding-right: 80px;
	}
	#desktop-nav{
		padding-right: 80px;
		padding-left: 80px;
	}
	.search-bar{
		margin-left: 220px;
	}
	#small-logo{
		display: none;
	}
	#logo img{
		width: 100px;
	}
	#big-logo{
		display: block;	
		margin-bottom: 5px;
	}
	#new-section h1{
		width: 100%;
		font-size: 2.3rem;
	}
	#content h1{
		font-size: 2.3rem;
	}
	#flexible{
		padding: 14px 32px;
		font-size: 18px;
		margin-top: 32px;
	}
	#section-2{
		margin-top: 50px;
	}
	#section-2 h1{
		margin-bottom: 25px;
		font-size: 2.125rem;
	}
	.card h3{
		font-size: 1.7rem;
	}
	#section-3{
		margin-top: 50px;
	}
	#section-3 h1{
		margin-bottom: 25px;
		font-size: 2.125rem;
	}
	.section3-content{
		padding: 0;
	}
	#left-card{
		padding: 40px;
	}
	#right-card{
		padding: 40px;
	}
	#section-3-cards h2{
		font-size: 41px;
		line-height: 40px;
	}
	#section-4{
		margin-top: 50px;
	}
	#section-4-left{
		margin-right: 70px;
	}
	#section-4-left h1{
		font-size: 41px;
	}
	#cards-img img{
		width: 100%;
	}
	#section-4 h3{
		margin-top: 50px;
	}
	.destinations a{
		flex: 3 2 auto;
	}
	.footer-section{
		padding: 10px 80px;
	}
	.footer-links-container{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}
	.footer-links{
		float: right;
	}
	.legal{
		order: 2;
	}
	#copyright-big{
		display: block;
	}
	#copyright-small{
		display: none;
	}
}
